# Case Study

In [1]:
import csv, sqlite3
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
con = sqlite3.connect("casedb.db")
df = pd.read_csv('casestudy.csv')
df.to_sql("casedb", con, if_exists='append', index=False)

con.commit()

In [3]:
cur = con.cursor()

## 2015

In [4]:
sql_command = "SELECT sum(net_revenue) FROM casedb where year = 2015"
cur.execute(sql_command) 

ans = cur.fetchall()
print("Total Revenue:", ans[0][0]) 
total_revenue2015 = ans[0][0]

Total Revenue: 145183745.95001227

In [5]:
sql_command = "SELECT count(*) FROM casedb where year = 2015"
cur.execute(sql_command) 

ans = cur.fetchall()
print("All customers:", ans[0][0])

All customers: 1156470

## 2016

In [6]:
sql_command = "SELECT sum(net_revenue) FROM casedb where year = 2016"
cur.execute(sql_command) 

ans = cur.fetchall()
print("Total revenue:", ans[0][0])

Total revenue: 128654717.94999059

In [7]:
sql_command = """SELECT sum(net_revenue) FROM casedb 
                 where year = 2016 AND customer_email not in (select customer_email from casedb where year = 2015)"""
cur.execute(sql_command) 

ans = cur.fetchall()
print("New Customer Revenue:", ans[0][0])

New Customer Revenue: 91227455.04999642

In [8]:
sql_command = """SELECT sum(net_revenue) FROM casedb 
                where year = 2016 AND customer_email in (select customer_email from casedb where year = 2015);"""
cur.execute(sql_command) 

ans = cur.fetchall()
existing_customer_2016 = ans[0][0]

sql_command = """SELECT sum(net_revenue) FROM casedb 
                where year = 2015 AND customer_email in (select customer_email from casedb where year = 2016);"""
cur.execute(sql_command) 

ans = cur.fetchall()
existing_customer_2015 = ans[0][0]

print("Existing Customer Growth", existing_customer_2016-existing_customer_2015)
ecg_2016 = existing_customer_2016-existing_customer_2015

Existing Customer Growth 101677.30000057071

In [9]:
sql_command = """SELECT sum(net_revenue) FROM casedb 
                where year = 2015 AND customer_email not in (select customer_email from casedb where year = 2016);"""
cur.execute(sql_command) 

ans = cur.fetchall()
print("Revenue lost from attrition:", ans[0][0])

Revenue lost from attrition: 107858160.35001104

In [10]:
print("Existing Customer Revenue Current Year:", existing_customer_2016)

Existing Customer Revenue Current Year: 37427262.90000024

In [11]:
print("Existing Customer Revenue Prior Year:", existing_customer_2015)

Existing Customer Revenue Prior Year: 37325585.599999666

In [12]:
sql_command = """SELECT count(customer_email) FROM casedb 
                 where year = 2016;"""
cur.execute(sql_command) 

ans = cur.fetchall()
print("Total Customers Current Year:", ans[0][0])

Total Customers Current Year: 1023230

In [13]:
sql_command = """SELECT count(customer_email) FROM casedb 
                 where year = 2015;"""
cur.execute(sql_command) 

ans = cur.fetchall()
print("Total Customers Previous Year:", ans[0][0])

Total Customers Previous Year: 1156470

In [14]:
sql_command = """SELECT DISTINCT count(customer_email) FROM casedb 
                 where year = 2016 AND customer_email not in (select customer_email from casedb where year=2015);"""
cur.execute(sql_command) 

ans = cur.fetchall()
print("New Customers:", ans[0][0])

New Customers: 725310

In [15]:
sql_command = """SELECT DISTINCT count(customer_email) FROM casedb 
                 where year = 2015 AND customer_email not in (select customer_email from casedb where year=2016);"""
cur.execute(sql_command) 

ans = cur.fetchall()
print("Lost Customers:", ans[0][0])

Lost Customers: 858550

## 2017

In [16]:
sql_command = "SELECT sum(net_revenue) FROM casedb where year = 2017"
cur.execute(sql_command) 

ans = cur.fetchall()
print("Total revenue:", ans[0][0])

Total revenue: 157087475.15000036

In [17]:
sql_command = """SELECT sum(net_revenue) FROM casedb 
                 where year = 2017 AND customer_email not in (select customer_email from casedb where year < 2017)"""
cur.execute(sql_command) 

ans = cur.fetchall()
print("New Customer Revenue:", ans[0][0])

New Customer Revenue: 143383038.20000574

In [18]:
sql_command = """SELECT sum(net_revenue) FROM casedb 
                 where year = 2017 AND customer_email in (select customer_email from casedb where year < 2017);"""
cur.execute(sql_command) 

ans = cur.fetchall()
existing_customer_2017 = ans[0][0]

In [19]:
print("Existing Customer Growth:", existing_customer_2017-ecg_2016)

Existing Customer Growth: 13602759.649999592

In [20]:
sql_command = """SELECT sum(net_revenue) FROM casedb 
                where year = 2016 AND customer_email not in (select customer_email from casedb where year = 2017);"""
cur.execute(sql_command) 

ans = cur.fetchall()
print("Revenue lost from attrition:", ans[0][0])

Revenue lost from attrition: 115551474.69999179

In [21]:
print("Existing Customer Revenue Current Year:", existing_customer_2017)

Existing Customer Revenue Current Year: 13704436.950000163

In [22]:
sql_command = """SELECT sum(net_revenue) FROM casedb 
                 where year = 2016 AND customer_email in (select customer_email from casedb where year = 2015 or year = 2017);"""
cur.execute(sql_command) 

ans = cur.fetchall()
print("Existing Customer Revenue Prior Year:", ans[0][0])

Existing Customer Revenue Prior Year: 46667867.15000103

In [23]:
sql_command = """SELECT count(customer_email) FROM casedb 
                 where year = 2017;"""
cur.execute(sql_command) 

ans = cur.fetchall()
print("Total Customers Current Year:", ans[0][0])

Total Customers Current Year: 1249935

In [24]:
sql_command = """SELECT count(customer_email) FROM casedb 
                 where year = 2016;"""
cur.execute(sql_command) 

ans = cur.fetchall()
print("Total Customers Previous Year:", ans[0][0])

Total Customers Previous Year: 1023230

In [25]:
sql_command = """SELECT DISTINCT count(customer_email) FROM casedb 
                 where year = 2017 AND customer_email not in (select customer_email from casedb where year<2017);"""
cur.execute(sql_command) 

ans = cur.fetchall()
print("New Customers:", ans[0][0])

New Customers: 1141310

In [26]:
sql_command = """SELECT DISTINCT count(customer_email) FROM casedb 
                 where year = 2016 AND customer_email not in (select customer_email from casedb where year = 2017);"""
cur.execute(sql_command) 

ans = cur.fetchall()
print("Lost Customers:", ans[0][0])

Lost Customers: 918435

In [27]:
con.close()